name: example
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=2.19.2 <3.0.0'

dependencies:
  cryptography: ^2.5.1
  cryptography_flutter: ^2.3.1
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.3

flutter:
  uses-material-design: true

dependency_overrides:
  cryptography:
    path: ../../cryptography
  cryptography_flutter:
    path: ../