name: cryptography_flutter_example
description: A new Flutter project.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.5.0

resolution: workspace

dependencies:
  cryptography_plus: ^3.0.0
  cryptography_flutter_plus: ^3.0.0
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
